<!-- <div>
  @if (pstore.isLoading()) {
    <p>Loading instruments...</p>
  } @else {
    @for (item of items(); track item.id_Item) {
      <p>{{ getInstrumentName(item.Instrument_id_Instrument) }}</p>
      <p>Condition: {{ item.condition }}</p>
      <p>Price/day: {{ item.rent_day | number: '1.2-2' }} €</p>
    }
  }
</div> -->

<link
  href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap"
  rel="stylesheet"
/>

@if (pstore.isLoading()) {
  <p>Loading instruments...</p>
} @else {
  @for (instrument of instruments(); track instrument.id_Instrument) {
    <div class="instrument-list">
      <div class="instrument-card">
        <div class="instrument-content">
          <h3 class="instrument-name">
            {{ displayInstrumentName(instrument.name) }}
          </h3>

          <p class="instrument-id">Model: {{ instrument.model }}</p>

          <p class="instrument-id">
            Available Items:
            {{ getItemCount(instrument.id_Instrument) }}
          </p>
        </div>

        <div class="openmodal">
          <button (click)="showModal(instrument)" class="modalbutton">Show Description</button>
        </div>
      </div>
    </div>
  }
}
