:host {
  font-family: 'Noto Serif', serif;
}

::ng-deep .mat-mdc-dialog-container {
  font-family: 'Noto Serif', serif !important;
}

::ng-deep .mat-mdc-dialog-surface {
  background: #eddcbf !important;
  border-radius: 18px !important;
  border: 2px solid black !important;
  overflow: hidden;
}

.instrument-modal {
  font-family: 'Noto Serif', serif;
  width: 100%;
  max-width: 1800px;

  border-radius: 18px;
  overflow: hidden;
  /* background: #f5f5f5; */
}

.pic-code-desc {
  gap: 10px;
  display: flex;
  flex-direction: row;
}

.code-desc {
  font-family: 'Noto Serif', serif;
  display: flex;
  flex-direction: column;
}

.field-title {
  font-weight: 700;
}

.field-value {
  font-weight: 400;
}

/* ::ng-deep .mat-mdc-dialog-container {
  padding: 0 !important;
} */

mat-dialog-content {
  max-height: unset !important;
  /* overflow: hidden; */
}

/* HEADER */
.modal-header {
  font-family: 'Noto Serif', serif;
  /* background: #2f5d7c;
  color: white; */
  background: #e3cda8;
  border-bottom: 2px solid black;
  padding: 20px 30px;
}

.modal-header h2 {
  font-family: 'Noto Serif', serif;
  margin: 0;
  font-size: 32px;
  font-weight: 600;
}

/* CONTENT */
.modal-content {
  font-family: 'Noto Serif', serif;
  padding: 30px;
  color: #222;
}

/* TOP SECTION */
.instrument-info {
  font-family: 'Noto Serif', serif;
  display: flex;
  gap: 40px;
  align-items: flex-start;
  margin-bottom: 40px;
}

/* IMAGE */
.image-container {
  flex-shrink: 0;
}

.instrument-image,
.image-placeholder {
  font-family: 'Noto Serif', serif;
  width: 200px;
  height: 200px;
  /* background: #2f5d7c; */
  border: 3px solid #173042;
  object-fit: cover;
}

/* DETAILS */
.instrument-details {
  font-family: 'Noto Serif', serif;
  flex: 1;
}

.instrument-details p {
  font-family: 'Noto Serif', serif;
  margin: 0 0 14px;
  font-size: 18px;
  line-height: 1.6;
}

.price-info {
  font-family: 'Noto Serif', serif;
  margin-top: 30px;
  font-size: 24px;
  font-weight: bold;
}

.field-title {
  font-weight: 700;
  margin: 0.5rem 0 0.25rem;
  font-size: 0.95rem;
}

.field-value {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
}

/* ITEMS LIST */
.items-list {
  font-family: 'Noto Serif', serif;
  margin-top: 20px;
}

/* ITEM CARD */
.item-card {
  font-family: 'Noto Serif', serif;
  display: grid;
  grid-template-columns: 200px 1fr 150px 160px;
  align-items: center;
  background: #fff8eb;
  padding: 18px 24px;
  margin-bottom: 16px;

  border-radius: 12px;
  border: 2px solid black;
}

.item-card .modal-actions {
  font-family: 'Noto Serif', serif;
  right: 100%;
}

/* BLACK BOX */
.item-icon {
  font-family: 'Noto Serif', serif;
  width: 60px;
  height: 60px;
  background: black;
  border-radius: 12px;
}

/* TEXT */
.item-name {
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  font-weight: 500;
}

.item-condition {
  font-family: 'Noto Serif', serif;
  font-size: 18px;
}

.item-price {
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}

/* BUTTONS */

button {
  font-family: 'Noto Serif', serif;
  padding: 10px 18px;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #333;
}

/* FOOTER */
.modal-actions {
  font-family: 'Noto Serif', serif;
  display: flex;
  justify-content: flex-end;
  padding: 20px 30px;
  border-top: 2px solid black;
  background: #e3cda8;
}
