<h3>Renting Page</h3>
<div class="background"></div>
<form [formGroup]="rentalForm" (ngSubmit)="submitTest()">
  <!-- Customer Info -->
  <div class="instrument-card">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Phone number</mat-label>
      <input matInput formControlName="phone" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="put@email.here" formControlName="email" required />
    </mat-form-field>
  </div>
  <h4>Items to Rent</h4>

  <!--<div class="top-bar">
    <button class="menu-btn" id="logoutBtn">Sign out</button>
  </div>-->

  <!-- FormArray for multiple rentals -->
  <div formArrayName="rentals" class="instrument-card">
    @for (rental of rentals.controls; let i = $index; track i) {
      <div [formGroupName]="i" class="rental-item">
        <h5>Item {{ i + 1 }}</h5>

        <mat-form-field>
          <mat-label>Select Instrument</mat-label>
          <mat-select formControlName="selectedItem">
            @for (item of itemsWithDetails(); track item.barcode) {
              <mat-option [value]="item.barcode">
                <strong>{{ item.instrumentName }}</strong> ({{ item.instrumentModel }}) - Barcode:
                {{ item.barcode }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Start Date</mat-label>
          <input matInput type="date" formControlName="startDate" required />
        </mat-form-field>

        <mat-form-field>
          <mat-label>End Date</mat-label>
          <input matInput type="date" formControlName="endDate" required />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Rental Type</mat-label>
          <mat-select formControlName="rentalType">
            <mat-option value="day">Day</mat-option>
            <mat-option value="week">Week</mat-option>
            <mat-option value="month">Month</mat-option>
          </mat-select>
        </mat-form-field>

        @if (rentals.length > 1) {
          <button
            type="button"
            class="remove-btn"
            (click)="removeRentalRow(i)"
            mat-stroked-button
            color="warn"
          >
            Remove
          </button>
        }
      </div>
    }
  </div>

  <button class="additem-btn" type="button" (click)="addRentalRow()" mat-stroked-button>
    + Add Another Item
  </button>

  <button type="submit" [disabled]="!rentalForm.valid" mat-raised-button color="primary">
    Rent Now
  </button>
</form>
