<!-- @if (instruments() && !isLoading()) {
  <h1>Active page: {{ activeCategory() }}</h1>
  <app-products [items]="instruments()"></app-products>
} @else {
  <h1>Loading...</h1>
} -->

<!-- } @else {
  @if (user) {
    <h1>Hello {{ user }}</h1>
  } @else {
    <h1>Hello User</h1>
  }
} -->
<!-- <h1>Hello User</h1> -->

<!-- <div>
  @if (activeCategory() === null) {
    <p>Hello User</p>
  } @else {
    <h2>{{ activeCategory() }}</h2>
    <app-products [items]="filteredItems()"></app-products>
  }
</div> -->
<div class="background"></div>

<!--<div class="top-bar">
  <button class="menu-btn" id="logoutBtn">Sign out</button>
</div>-->

@if (activeCategory() === null && auth.loginState()) {
  <div class="login-container">
    <main class="menu">
      <h1 id="greeting">Hello User</h1>
      <button class="menu-btn" routerLink="/products/guitar">Instruments</button>
      <button class="menu-btn" routerLink="/renting">Renting</button>
    </main>
  </div>
} @else {
  <h2 class="category-title">
    {{ displayCategory(activeCategory()) }}
  </h2>
  <app-products [instruments]="filteredItems().instruments"></app-products>
}
