/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background: #ddbf8a;
  border-bottom: 4px solid black;
  flex-wrap: wrap;
}

.hamburgermenu {
  align-items: center;
  justify-content: center;
  background: #4b5f33;
  border: none;
  width: 45px;
  height: 45px;
  color: white;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  flex: 1;
  justify-content: center;
}

.instrumentlink {
  font-family: 'Noto Serif', serif;
  background: transparent;
  color: black;
  border: none;
  font-size: 20px;
  padding: 0.3rem 0.6rem;
}

.nav-links button.active {
  background: #c09440;
  border-radius: 8px;
}

a:link {
  text-decoration: none;
}

.menu-btn {
  font-family: 'Noto Serif', serif;
  background-color: black;
  color: white;
  max-width: 100px;
  max-height: 100px;
  padding: 15px;
  font-size: 15px;
  border-radius: 16px;
  align-items: center;
}

.menu-btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

.menu-btn:active {
  transform: translateY(0);
}

@media (max-width: 235px) {
  .instrumentlink {
    font-size: 20px;
  }
}

@media (max-width: 210px) {
  .navbar {
    flex-direction: column;
  }
}
