<!-- <a routerLink="/products/guitar">Guitars</a>
<a routerLink="/products/piano">Pianos</a>
<a routerLink="/products/violin">Violins</a>
<a routerLink="/products/harp">Harps</a>
<a routerLink="/products/drums">Drums</a>
<a routerLink="/products/accordion">accordion</a> -->

<!-- routerLink is an Angular directive. It tells the browser
that this is not a regular link with href, but an
Angular route. When routerLink is dynamic, that is, contains
variables whose values change, it must be surrounded by square brackets.
page is a variable that appears in the array as the value of routerLink.
The two parts of the dynamic route are separated by a comma in the array.
-->

<link
  href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap"
  rel="stylesheet"
/>

<nav class="navbar">
  <button class="hamburgermenu">☰</button>

  <span class="nav-links">
    <a routerLink="/products" class="instrumentlink">Frontpage</a>
    @for (page of content(); track $index) {
      <a [routerLink]="['/products', page.type_name.toLowerCase()]" class="instrumentlink">
        {{ page.type_name }}</a
      >
    }
    <a routerLink="/renting" class="instrumentlink">To renting</a>
  </span>
  @if (auth.isLoggedIn()) {
    <button class="menu-btn" (click)="logout()">Sign Out</button>
  }
</nav>
